*{
    padding: 0;
    margin: 0;

}
body{
    width: 20rem;
    background-color: lightblue;
   
}
/* .main h1{
  
}
.main .heading{
 
}
body .heading {

} */
body h1{
  
    border: 2px double black;

    background-color: hsl(0, 100%, 50%);
    color: rgb(154, 148, 148);
    text-align: center;
    font-size:3rem;
}
/* .box4{
    width: 20rem;
    height: 100vh;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;

} */
.pic{
     width: 20rem;
        height: 100vh;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size: 100px;
}
.box1{
     display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    border: 2px solid red;
}
.box2{
   display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px 30px 40px;
   
    width: 350px;
    height: 100px;
    border:  2px solid red;
}